main{
    padding: 40px 30 px; 
    color: #FFFFFF;  
}

.main--title{
    font-size: 40px;                          
}
.main-list{
    max-width: fit-content;                          
}

.Main--list > li::marker{
    color:#61DAFB;
    font-size: 30px;                         
}